
:root {
    --text-color:#212121;
    --alt-text-color:#757575;
    --logo-text-color:#000;
    --accent-color:#2196f3;
    --light-color:#fff;
    --alt-light-color:rgba(255,255,255,0.6);
    --alt-background-color:#f5f4fa;
    --dark-background-color:#2f303a;
    --border-color:#ececec;
    --alt-border-color:#eee;
    }
body {  
     /* убрать  */
    background-color:var(--alt-text-color);  

    font-family: "Roboto",sans-serif;
    font-style: normal;
    }
.bordering {
    width: 1170px;
    margin: auto;
    }
.no-dot {
    list-style: none;    
    }
.link {
    text-decoration-line: none;
    }
/* =========header==================== */
.header {
    background-color: var(--light-color);
    padding-top: 25px;
    padding-bottom: 25px;
    }
.header > .bordering {
    display: flex;
    align-items: center;
    justify-content:space-between;
    }
.nav {
    display: flex;
    align-items: center;
    }
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    }
.header-logo {
    margin-right: 95px;
    }    
.header-logo > a {
    color: var(--logo-text-color);
    }
.logo-blue{    
    color: var(--accent-color);
    }
.menu-list{
    display: flex;
    }
.menu-item + .menu-item{
    margin-left: 50px;
    }
.menu-link{
    color: var(--text-color)
    }
.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
    }
.contacts-item {
    margin-right: 50px;
    color: var(--alt-text-color);
    }
.contacts-link {
color: var(--alt-text-color);
    }
.contacts-link:hover,
.contacts-link:focus{
    color: var(--accent-color);
}
/* ==========End of Header=========== */



/*============Footer=================== */
.footer {
    background-color: var(--dark-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    
    }
.footer-logo > a {
    color: var(--light-color);
    margin-bottom: 20px;
    }
.address-list {
    padding: 0px;
    font-style: normal;
    }
.address-item + .address-item{
    margin-top: 10px;
    }
.address-item:first-child .address-link {
    color: var(--light-color);
    }    
.address-list .address-link {
    color: var(--alt-light-color);
    }

.address-list .address-link:hover,
.address-list .address-link:focus {
    color: var(--accent-color);
}
